{% load static %}
<footer>
    <div class="container">
        <div class="footer-flex">
            <ul class="footer-menu">
                <li><a href="{% url 'howto-page' %}">How to order</a></li>
                <li><a href="{% url 'payment-page' %}">Payment confirmation</a></li>
            </ul>
            <ul class="footer-social">
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://line.me/" target="_blank"><i class="fa-brands fa-line"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
        <p>Copyright 2021-2022 Wactchtime Co. Ltd. All right reserved.</p>   
    </div>
</footer>

