{% extends 'store/components/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<section class="user-password">
    <div class="container">
        {% for message in messages %}
        <div class="message-alert">
            {{message}}
        </div>
        {% endfor %}
        <div class="show">
            {% if user.profile.avatar %}
                <img class="show-image" src="{{ user.profile.avatar.url }} ">
            {% else %}
                <img class="show-image" src="{% static 'store/images/default.png' %}" alt="user_default">
            {% endif %}
        </div>
        

      
        <form method="POST">
            {% csrf_token %}
            <div class="form-field">
                {{form.old_password.label}}
                {{form.old_password}}
            </div>
            <div class="form-field">
                {{form.new_password1.label}}
                {{form.new_password1}}
            </div>
            <div class="form-field">
                {{form.new_password2.label}}
                {{form.new_password2}}
            </div>
            <button class=" button button-primary" type="submit">Save</button>
        </form>

    </div>
</section>



{% endblock content %}