{% extends 'store/components/base.html' %}
{% load static %}


{% block content %}

<section id="register-form">
    <div class="forms-img">
        <div class="forms-container">
            <div class="forms-header">
                <h2>REGISTER</h2>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="form-field">
                    {{form.username.label_tag}}<br>
                    {{form.username}}
                    {{form.username.errors}}
                </div>
                <div class="form-field">
                    {{form.email.label_tag}}<br>
                    {{form.email}}
                    {% if messages %}
                    {% for message in messages %}
                        <li class="message-info">
                            {{message}}
                        </li>
                    {% endfor %}
                    {% endif %}
                </div>
                
                <div class="form-field">
                    {{form.password1.label_tag}}<br>
                    {{form.password1}}
                    {{form.password1.errors}}
                </div>
                <div class="form-field">
                    {{form.password2.label_tag}}<br>
                    {{form.password2}}
                    {{form.password2.errors}}
                </div>
                <div class="form-field"> 
                    <button class=" button button-primary" type="submit">REGISTER</button>
                </div>
            </form>
            <p>Already have an account ? <a class="link-text" href="{% url 'login-page' %}"> Login</a></p>
        </div>
    </div>

</section>



{% endblock content %}